[edit]
    command = "nvim"

[git]
    autoCommit = true
    # commitMessageTemplate = "{{ `{{ promptString \"Commit message\" }}` }}"
    autoPush = true

[diff]
    command = "nvim"
    args = ["-d", "{{ `{{ .Destination }}` }}", "{{ `{{ .Target }}` }}"]

[merge]
   command = "nvim"
   args = ["-d", "{{ `{{ .Source }}` }}", "{{ `{{ .Destination }}` }}", "{{ `{{ .Target }}` }}"]
