# shellcheck shell=zsh

# Skip the not really helping Ubuntu global compinit
skip_global_compinit=1

export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_PICTURES_DIR="$HOME/Pictures"
export XDG_SCREENSHOTS_DIR="$XDG_PICTURES_DIR/Screenshots"

export ZDOTDIR="$XDG_CONFIG_HOME/zsh"

export EDITOR="nvim"
export VISUAL="nvim"
export PAGER="bat"
export MANPAGER="nvim +Man!"
export LIBVIRT_DEFAULT_URI='qemu:///system'

{{ if eq .chezmoi.os "darwin" -}}
# For Homebrew
eval "$(/opt/homebrew/bin/brew shellenv)"

{{ end -}}

# Set $PATH if ~/.local/bin exists
if [ -d "$HOME/.local/bin" ]; then
    export PATH=$HOME/.local/bin:$PATH
fi

# GO
if command -v go &> /dev/null; then
    GOPATH="$(go env GOPATH)"
    export PATH=$GOPATH/bin:$PATH
fi

# PHP Composer
if command -v composer &> /dev/null; then
    export COMPOSER_HOME="$HOME/.composer"
    export PATH=$HOME/.composer/vendor/bin:$PATH
fi

# Temurin JDK 17
if [[ -d "/usr/lib/jvm/java-21-temurin" ]]; then
    export JAVA_HOME="/usr/lib/jvm/java-21-temurin"
    export PATH="$JAVA_HOME/bin:$PATH"
fi
