#!/usr/bin/env bash

{{ if eq .chezmoi.os "darwin" -}}

brew update

# Brewfile hash: {{ include "private_dot_config/homebrew/Brewfile" | sha256sum }}
brew bundle install --cleanup --file={{ joinPath .chezmoi.sourceDir "private_dot_config/homebrew/Brewfile" | quote }}

brew upgrade

{{ else if eq .chezmoi.osRelease.id "arch" -}}

# INFO: As the SHA256 sum of `,install-pkgs-arch` is included in a comment in the script, the contents of the script will change whenever the contents of `,install-pkgs-arch` are changed, so chezmoi will re-run the script whenever the contents of `,install-pkgs-arch` change.

# ,install-pkgs-arch hash: {{ include "dot_local/bin/executable_,install-pkgs-arch" | sha256sum }}
{{ joinPath .chezmoi.sourceDir "dot_local/bin/executable_,install-pkgs-arch" | quote }}

{{ end -}}
