#!/usr/bin/env bash

# Common packages
PACKAGES=(
    atuin
    bash-completion
    bat
    bitwarden-cli
    btop
    chezmoi
    curl
    eza
    fd
    fzf
    git
    git-delta
    git-lfs
    gping
    imagemagick
    jq
    lazygit
    lua
    man-db
    moreutils
    neovim
    ripgrep
    starship
    tealdeer
    tmux
    ugrep
    wget
    zoxide
)

{{ if eq .chezmoi.os "darwin" -}}

PACKAGES+=(
    coreutils
    gh
    pkg-config
    gnu-sed
    lazydocker
    lf
    pfetch-rs
)

brew update && brew upgrade

for pkg in "${PACKAGES[@]}"; do
    if ! brew list --formula "$pkg" &> /dev/null; then
        brew install "$pkg"
    else
        echo "## $pkg is already installed"
    fi
done

{{ else if eq .chezmoi.osRelease.id "arch" -}}

PACKAGES+=(
    base-devel
    github-cli
    lazydocker-bin
    lf-bin
    man-pages
    perl-file-mimeinfo
    pfetch-rs-bin
)

sudo pacman -Syu
paru -S --noconfirm --needed "${PACKAGES[@]}"

{{- end }}
