# shellcheck shell=zsh

{{ if eq .chezmoi.os "darwin" -}}
# For Homebrew
eval "$(/opt/homebrew/bin/brew shellenv)"
{{- end }}

# Set $PATH if ~/.local/bin exist
if [ -d "$HOME/.local/bin" ]; then
    export PATH=$PATH:$HOME/.local/bin
fi

#GO
if command -v go &> /dev/null; then
    GOPATH="$(go env GOPATH)"
    export PATH=$PATH:$GOPATH/bin
fi
