* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 12px;
}

@import "themes/catppuccin-mocha.css";

window#waybar {
  background: @crust;
  opacity: 0.8;
}

tooltip {
  background: @crust;
  border: 1px solid @blue;
}

tooltip label {
  color: @text;
}

#workspaces button {
  color: @blue;
  box-shadow: none;
  text-shadow: none;
  padding: 0 5px;
}

#workspaces button.active {
  background: @blue;
  color: @base;
  border-radius: 10;
}

#battery,
#bluetooth,
#clock,
#pulseaudio,
#tray,
#cpu,
#memory,
#custom-notification,
#window,
#workspaces {
  color: @text;
  background: @crust;
  opacity: 0.9;
  margin: 0 4px;
}

#custom-notification {
  color: @mauve;
}

#workspaces {
  background: @surface0;
  border-radius: 10;
  padding: 0;
  margin: 2px;
}

#battery.charging {
  color: @yellow;
}

#tray {
  background-color: @base;
  border-radius: 10;
  padding: 0 10px;
  margin: 2px;
}

.modules-right {
  margin-right: 10px;
}
